.cabecalho{
  background: #3b89da;
  color: white;
}
.cartao{
  background: yellow;
  border: 1px solid black;
  margin: 16px;
  padding: 16px;
}
.container{
  padding: 0 10%;
}
@media(min-width:590px) {
  .cartao{
    width: 190px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
    flex-basis: 190px;
    flex-grow: 1;
  }
  .mural{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
}
.mural--linha{
  flex-direction: column;
}
.mural--linha .cartao{
  width: auto;
  flex-basis: auto;
  display: block;
}
